<div>
        <div *ngIf="historySearchlength > 0 ; else noHistorySearch">
        <table width="300"  border=1 style="border-collapse: collapse;" class="table">
            <thead>
                <th>Search criteria </th>
                <th>Status</th>
            </thead>
            <tbody>
                <tr *ngFor="let historyRecord of historyRecords">
                    <td>{{historyRecord.id}}</td>
                    <td>{{historyRecord.status}}</td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
    <ng-template #noHistorySearch>
    No Searchs Performed.
    </ng-template>