<div class="container">
  <div class="row">    
        <ul class="nav nav-tabs">
            <li role="presentation" routerLinkActive="active" ><a routerLink="search">Search</a></li>
            <li role="presentation" routerLinkActive="active"><a routerLink="history">History</a></li>
          </ul>

  </div>
<div class="row">
  <router-outlet></router-outlet>
</div>
</div>