
<form [formGroup]="searchForm" (ngSubmit) = "onSubmit()"> 
    <label>Search: <input type="text" formControlName ="searchData">
    </label>
    <button style="margin:10px" type="submit" [disabled]="!searchForm.valid">Submit</button>
    <button style="margin:10px" type="reset" >Clear</button>
</form>

<div>
    <div *ngIf="isformSubmitted && searchRecordlength > 0 ; else nosearchedRecords">
    <table width="300"  border=1 style="border-collapse: collapse;" class="table">
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>User Type</th>
        </thead>
        <tbody>
            <tr *ngFor="let searchedRecord of searchedRecords">
                <td><a routerLink="userDetails/{{searchedRecord.id}}">{{searchedRecord.id}}</a></td>
                <td>{{searchedRecord.login}}</td>
                <td>{{searchedRecord.type}}</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
<ng-template #nosearchedRecords>
No search Records found.
</ng-template>